@{
    ViewData["Title"] = "Om projektet";
}

<head>
    <meta charset="UTF-8" />
    <link rel="Stylesheet" type="text/css" href="/lib/bootstrap/dist/css/bootstrap.css">
</head>
<body class="About-Body">

    <h1 class="Frontpage-Headline">Om projektet</h1>

    <p class="About-Text">
        På 4. semester skal jeg med min projektgruppe udvikle en app for restaurant kæden Flammen, dette samarbejde fungerer
        gennem løbende fysiske møder hvor vi får snakket ting som: product backlog, tidsplaner for releases samt design.
        Der kommer igennem projektet til at være flere releases.
        Jeg har valgt at kode i React Native for cross platform funktionaliteten og for at blive bekendt med et Javascript framework.
        Derudover har jeg valgt projektstyring som fagområde, i den sammenhæng har vi i gruppen valgt Scrum som
        projektstyringsværktøj.
        Vi kommer til at bruge NoSQL Firebase. <br />
        <strong>Praktikopgave:</strong> Jeg skal også lave en chat applikation for House of Code, denne skal laves med Firebase og jeg udvikler den med React Native over en periode på 2 uger. 
        Der er defineret en række vurderingskriterier som blandt andet dækker ting som: dokumentation, git log, arkitektur og inddragelsen af dependencies.
    </p>

</body>
