
@{
    ViewData["Title"] = "Activities";
}


<head>
    <meta charset="UTF-8" />
    <link rel="Stylesheet" type="text/css" href="/lib/bootstrap/dist/css/bootstrap.css">
</head>
<body class="Act-Body">

    <h1 class="Act-header">Aktiviteter deltaget i gennem forløbet</h1>
<div>
    <h2>ERFA Møder</h2>
    <ol>
        <li>React Native - 19/2</li>
        <li>Projektstyring - 26/2</li>
        <li>React Native - 7/3</li>
        <li>Projektstyring - 18/3</li>
        <li>React Native - 21/3</li>
    </ol>
    <h2>Møder med Flammen</h2>
    <ol>
        <li>Møde - 11/12/2018</li>
        <li>Møde - 31/1/2018</li>
        <li>Møde - 22/2/2018</li>
        <li>Møde - 15/3/2018</li>
        <li>Møde - 29/3/2018</li>
        <li>Møde - 10/5/2018</li>
    </ol>
    <h2>Møder med vejleder</h2>
    <ol>
        <li>Møde - Uge 9</li>
        <li>Møde - Uge 11</li>
        <li>Møde - Uge 13</li>
        <li>Møde - Uge 18</li>
        <li>Møde - Uge 20</li>
        <li>Møde - Uge 22</li>
    </ol>
</div>
<h2>Eksperimenter:</h2>
<p></p>
</body>

