@{
    ViewData["Title"] = "Kontakt";
}
<head>
    <meta charset="UTF-8" />
    <link rel="Stylesheet" type="text/css" href="/lib/bootstrap/dist/css/bootstrap.css">
</head>
<body class="Contact-Body">

    <h1 class="Frontpage-Headline">Kontakt</h1>

    <address>
        <strong>Telefon:</strong>
        40359733
    </address>

    <address>
        <strong>Email</strong> <a href="mailto:simonaa@outlook.dk">simonaa@outlook.dk</a><br />
    </address>
</body>
