@{
    ViewData["Title"] = "Kontakt";
}
<head>
    <meta charset="UTF-8" />
    <link rel="Stylesheet" type="text/css" href="/lib/bootstrap/dist/css/bootstrap.css">
</head>
<body class="Contact-Body">

<h1 class="Frontpage-Headline">Kontakt</h1>

<div class="Contact-Row">
    <div class="Contact-Left">
        <h1>Simon Aagaard</h1>
        <img src="/images/Bali billede.jpg" height="600"/>
    </div>
    
    <div class="Contact-Right">
        <p>
            Specialiserer mig med React Native i mit nuværende projekt, informationer om projektet kan findes <a href="@Url.Action("About", "Home")">her</a>. <br />
            Jeg har arbejdet med C#, ASP.NET Core, SQL og JavaScript gennem tidligere projekter.  <br />
            Jeg søger en praktikplads med start fra 1/8.</p>
        <address>
            <strong>Telefon:</strong>
            40 35 97 33
        </address>

        <address>
            <strong>Email:</strong> <a href="mailto:simonaa@outlook.dk">simonaa@outlook.dk</a><br />
        </address>
        <p>
            <strong>GitHub:</strong><a href=" https://github.com/SimonAagaard" target="_blank"> https://github.com/SimonAagaard </a>
        </p> <br />
    </div>
</div>
</body>
