@{
    ViewData["Title"] = "Kontakt";
}
<head>
    <meta charset="UTF-8" />
    <link rel="Stylesheet" type="text/css" href="/lib/bootstrap/dist/css/bootstrap.css">
</head>
<body class="Contact-Body">

<h1 class="Frontpage-Headline">Kontakt</h1>

<div class="Contact-Row">
    <div class="Contact-Left">
        <h1>Simon Aagaard</h1>
        <img src="/images/Bali billede.jpg" height="600"/>
    </div>
    
    <div class="Contact-Right">
        <p>Specialiserer mig med React Native i mit nuværende projekt, informationer om projektet kan findes <a href="@Url.Action("About", "Home")">her</a>. <br />
            Jeg har arbejdet med C#, ASP.NET Core, SQL og JavaScript gennem tidligere projekter.</p> <br />
        <address>
            <strong>Telefon:</strong>
            40359733
        </address>

        <address>
            <strong>Email</strong> <a href="mailto:simonaa@outlook.dk">simonaa@outlook.dk</a><br />
        </address>
    </div>
</div>
</body>
