
@{
    ViewData["Title"] = "Log";
}

<head>
    <meta charset="UTF-8" />
    <link rel="Stylesheet" type="text/css" href="/lib/bootstrap/dist/css/bootstrap.css">
</head>

<body id="Log-Body">
    <div class="Log-Container">
        <div>
            <h1 class="Frontpage-Headline">Projektlog</h1>
        </div>
        @*Post 1*@
        <div class="Log-Post">
            <h2>1. Opstart - 8/2-2019</h2>
            <p>Opstarts perioden for semesteret bød på et Umbraco kursus, praktisk information om studieturen til foråret, <br />
                opsætning af læringsmål, læringsplaner, at få defineret sine fagområde og blev sluttet af med et foredrag om praktisksøgning</p>
        </div>
        
        @*Post 2*@
        <div class="Log-Post">
            <h2>2. Opsætning og projektstyring - 13/2-2019</h2>
            <p>Efter den indledende uge beskrevet i 1. post, har vi i den efterfølgende uge lagt ud med, <br />
                at få sat vores projektstyring(Scrum) op, dette dækker over ting som: <br />
                - Delt vores product backlog ud i mindre tasks(sprint backlog items) <br />
                - Sat Scrum board op <br />
                - Burndownchart <br />
                <br />
                Efter denne indledende fase har vi givet os i kast med at få udviklet den første funktionalitet til appen.</p>
        </div>
        @*Post 3*@
        <div class="Log-Post">
            <h2>3. Design - 20/2-2019</h2>
            <p>Denne uge står på indledende design arbejde, der ligger et planlagt måde med PO sidst på ugen, på dette møde, <br />
                sigter vi efter at have 3-4 designs klar der gør brug af de farvekoder de har tilsendt, derudover bliver den første <br />
                funktionalitet(bruger oprettelse + rabatkoder) fremvist. Vi har sigtet efter at gå i forksellige retninger mht designs, <br />
                så PO får vist forskellige tilgange til at vise et forholdvist simpelt UI.</p>
        </div>
    </div>
</body>




