
@{
    ViewData["Title"] = "Log";
}

<head>
    <meta charset="UTF-8" />
    <link rel="Stylesheet" type="text/css" href="/lib/bootstrap/dist/css/bootstrap.css">
</head>

<body id="Log-Body">
    <div class="Log-Container">
        <div>
            <h1 class="Frontpage-Headline">Projektlog</h1>
        </div>
        @*Post 1*@
        <div class="Log-Post">
            <h2>1. Opstart - 8/2-2019</h2>
            <p>Opstarts perioden for semesteret bød på et Umbraco kursus, praktisk information om studieturen til foråret, <br />
                opsætning af læringsmål, læringsplaner, at få defineret sine fagområde og blev sluttet af med et foredrag om praktisksøgning</p>
        </div>
        
        @*Post 2*@
        <div class="Log-Post">
            <h2>2. Opsætning og projektstyring - 13/2-2019</h2>
            <p>Efter den indledende uge beskrevet i 1. post, har vi i den efterfølgende uge lagt ud med, <br />
                at få sat vores projektstyring(Scrum) op, dette dækker over ting som: <br />
                - Delt vores product backlog ud i mindre tasks(sprint backlog items) <br />
                - Sat Scrum board op <br />
                - Burndownchart <br />
                <br />
                Efter denne indledende fase har vi givet os i kast med at få udviklet den første funktionalitet til appen.</p>
        </div>
        @*Post 3*@
        <div class="Log-Post">
            <h2>3. Design - 20/2-2019</h2>
            <p>Denne uge står på indledende design arbejde, der ligger et planlagt måde med PO sidst på ugen, på dette møde, <br />
                sigter vi efter at have 3-4 designs klar der gør brug af de farvekoder de har tilsendt, derudover bliver den første <br />
                funktionalitet(bruger oprettelse + rabatkoder) fremvist. Vi har sigtet efter at gå i forksellige retninger mht designs, <br />
                så PO får vist forskellige tilgange til at vise et forholdvist simpelt UI.</p>
        </div>
        @*Post 4*@
        <div class="Log-Post">
            <h2>4. ERFA & Design - 27/2-2019</h2>
            <p>Siden sidste post har vi i gruppen været til møde med PO, der blev valgt et design som de var glade for, <br />
                og de har sendt en samling forskellige medier de ønsker bliver brugt i appen. Designet de valgte var lavet af Frederik <br />
                i Swift til iOS, så resten af gruppen sigter nu efter at ramme et identisk design til android appen. <br />
                Derudover har jeg været til 2 ERFA møder, det første med React Native gruppen gav ikke rigtigt noget afkast, og jeg tror <br />
                vi i gruppen har brug for at Simon kommer med inde over det næste gang. <br />
                2. ERFA møde var med projektstyring hvor vi fik diskuteret og vendt forskellige problemstillinger og fik vidensdelt, <br />
                og man kunne faktisk gå derfra med en fornemmelse af at man var blevet klogere.</p>
        </div>
        @*Post 5*@
        <div class="Log-Post">
            <h2>5. Erfaring med React Native - 7/3-2019</h2>
            <p>Efter en stejl læringskurve her i starten, er nogle basale ting begyndt at give mere mening og jeg er blevet bevidst om, <br />    
                at jeg har fået bedre styr på ting som syntaks, navigation og udarbejdelsen af frontend. Jeg har primært haft 2 større udfordringer <br />
                som har kostet meget tid at få løst: <br />
                1) Få connected til min firebase database med noget simpelt bruger oprettelse + login <br />
                2) At navigere fra min "Loading" page til enten et login vindue(hvis brugeren ikke er logget ind) <br />
                eller en forside (hvis brugeren er logget ind) <br />
                <br />
                Begge problemer er løst og jeg føler igen at tingene går fremad i et godt tempo. <br />
                Derudover er jeg ved at erhverve mig en android telefon, eftersom android emulators er fuldkommen håbløse at arbejde med.</p>
        </div>
        @*Post 6*@
        <div class="Log-Post">
            <h2>6. Styling af design - 12/3-2019</h2>
            <p>
                Siden sidste post har jeg primært beskæftiget mig med styling og design af appen. <br />
                Dokumentationen fra holdet bag React Native har været en enorm hjælp og min indsigt i forksellige objekters brug,  <br />
                properties og metoder er væsentligt uddybet.
                Jeg stødte på problemer med at få inkluderet nogle libraries i starten med link: <br />
                <img src="/images/post6.PNG" height="100" width="600"> <br />
                Problemet blev løst efter længere tids undersøgelse af diverse filer. <br />
                Vi skal til Kolding til møde med vores PO fredag 15/3, hvor vi gerne skulle præsentere apps der mere eller mindre <br />
                er klar til at blive sendt til godkendelse hos App Store og Google Play Store, så jeg har travlt, <br />
                men appen begynder også for alvor at tage form og flere views er på nuværende tidspunkt færdige og klar til fredag.
            </p>
        </div>
        @*Post 7*@
        <div class="Log-Post">
            <h2>7. Refaktorering & Firebase - 20/3-2019</h2>
            <p>
                Til mødet med vores PO i fredags (15/3) gav de udtryk for at de ønskede et mere simpelt login system <br />
                og de var mere præcise om hvad de ønskede i forhold til rabatkode funktionaliteten. Der er derfor sat et møde op <br />
                igen d. 29/3 hvor vi skal levere det ønskede login system, samt rabatkode funktionalitet, sidst nævnte kræver <br />
                at vi fordyber os i Firebase og finder ud af hvordan man kan tilføje en rabatkode til de brugere man ønsker fra Firebase. <br />
                Det væsentlige her er at det ikke skal gøres i code behind (at hard code nye rabatkoder ville ummidelbart være nemt), men tilføjelsen af nye rabatkoder <br />
                skal kunnet gøres uden vi er inde over. <br />
                Login funktionaliteten derimod skal være mere simpelt, og de nye krav kræver blot lidt omstrukturering af de properties vi har om brugerne i databasen <br />
                samt en mindre ændring i UI'et.
            </p>
        </div>
    </div>
</body>




