
@{
    ViewData["Title"] = "Plan";
}
<head>
    <meta charset="UTF-8" />
    <link rel="Stylesheet" type="text/css" href="/lib/bootstrap/dist/css/bootstrap.css">
</head>
<body class="Plan-Body">
<div class="Plan-Intro">
    <h1>Læringsplan & Fagområder</h1>
    <p>Oversigt over ECTS point fordeling, læringsplan og fagområder</p>
</div>
<div class="Plan-Text">
    <h2>ECTS point fordeling</h2>
    <ol>
        <li>Appudvikling(React Native) - 15ECTS</li>
        <li>Projektstyring - 5ECTS</li>
        <li>NoSQL Firebase - 5ECTS</li>
    </ol>
    <br />
    <h2>Læringsmål</h2>
    <h3>Viden: Jeg vil gerne kunne beskrive, forklare, illustrere, identificere</h3>
    <ol>
        <li>Jeg vil gerne samle viden om opbygning og arkitektur af React Native mobil applikationer</li>
        <li>Jeg vil gerne samle viden om frameworket React Native samt underliggende libraries</li>
        <li>Jeg vil gerne samle viden om NoSQL Firebase i relation til React Native</li>
        <li>Jeg vil gerne samle viden omkring metoder til at løse konflikter</li>
    </ol>
    <br />
    <h3>Færdigheder: Jeg vil gerne kunne anvende, afprøve, analysere, sammenligne</h3>
    <ol>
        <li>Jeg vil gerne kunne anvende React Native til at kode en mobil app fra bunden</li>
        <li>Jeg vil gerne kunne afprøve og afvende underliggende og/eller 3. parts libraries</li>
        <li>Jeg vil gerne kunne anvende Firebase som database til ens mobil app</li>
        <li>Jeg vil gerne kunne efter korrespondance med PO, omsætte deres ønsker til designbeslutninger og dokumentation</li>
        <li>Jeg vil gerne kunne analysere konflitker mellem gruppemedlemmer</li>
    </ol>
    <br />
    <h3>Kompetencer: Jeg vil gerne kunne kombinere, ændre, diskutere, kontrollere</h3>
    <ol>
        <li>Jeg vil gerne kunne reflektere, diskutere og sammenligne React Native indenfor appudvikling, samt vurdere om React Native vil være et godt valg til et givent projekt</li>
        <li>Jeg vil gerne kunne i indledende projektstadier vurdere om man er bedst tjent med NoSQL Firebase eller om dataene egner sig bedre til en MSSQL database</li>
        <li>Jeg vil gerne kunne diskutere alternativer til projektets proces</li>
    </ol>

    <h2>Læringsplaner:</h2>
    <div class="Plan-Learningplans">
        <p><strong>1.Sprint - Hvad vil jeg gerne opnå viden om i denne sprint?</strong></p>
        <ul>
            <li>Blive mere bekendt med Javascript og React, for at styrke mine forudsætninger for at kode appen i React Native</li>
            <li>Få viden til at sætte appen op med en Firebase database</li>
        </ul>
        <p><strong>Hvilke læringsaktiviteter planlægger jeg for at opnå denne læring?</strong></p>
        <ol>
            <li>Gennemgå couses på sider som: Pluralsight, Lynda og Youtube</li>
            <li>ERFA-møder</li>
            <li>Lægge ud med tests/tutorial applikationer</li>
        </ol>
    </div>
    <div class="Plan-Learningplans">
        <p><strong>2.Sprint - Hvad vil jeg gerne opnå viden om i denne sprint?</strong></p>
        <ul>
            <li>Udvide mit kendskab til React Native, så jeg bedre kan kode basale componenter uden at skulle støtte mig til courses</li>
            <li>Få mere viden om projektstyring, så jeg bedre kan vurdere hvordan vi i gruppen kan drage nytte af det</li>
        </ul>
        <p><strong>Hvilke læringsaktiviteter planlægger jeg for at opnå denne læring?</strong></p>
        <ol>
            <li>Gennemgå couses på sider som: Pluralsight, Lynda og Youtube</li>
            <li>ERFA-møder</li>
        </ol>
    </div>
    <div class="Plan-Learningplans">
        <p><strong>3.Sprint - Hvad vil jeg gerne opnå viden om i denne sprint?</strong></p>
        <ul>
            <li>Få mere viden om firebase, specielt oprettelsen af child objekter, fra andre steder end code behind (vores PO skal kunne gøre det)</li>
            <li>Fortsæt med at opsøge/finde viden om React Native, jeg ville specielt gerne have større forståelse for specifikke versioner af modules </li>
        </ul>
        <p><strong>Hvilke læringsaktiviteter planlægger jeg for at opnå denne læring?</strong></p>
        <ol>
            <li>Læse documentation fra Firebase og React Native</li>
            <li>Gennemgå couses på sider som: Pluralsight, Lynda og Youtube</li>
            <li>ERFA-møder</li>
        </ol>
    </div>
    <div class="Plan-Learningplans">
        <p><strong>4.Sprint - Hvad vil jeg gerne opnå viden om i denne sprint?</strong></p>
        <ul>
            <li>Opnå viden om hvordan man integrerer et Facebook login samt Google login med Firebase og efterfølgende bruger profilens oplysninger i appen.</li>
            <li>Fortsæt med at opsøge/finde viden om React Native, jeg ville specielt gerne have større forståelse for state og best practice for projekt struktur</li>
        </ul>
        <p><strong>Hvilke læringsaktiviteter planlægger jeg for at opnå denne læring?</strong></p>
        <ol>
            <li>Læse documentation fra Firebase og React Native</li>
            <li>Gennemgå couses på sider som: Pluralsight, Lynda og Youtube</li>
            <li>ERFA-møder</li>
        </ol>
    </div>
    <div class="Plan-Learningplans">
        <p><strong>5.Sprint - Hvad vil jeg gerne opnå viden om i denne sprint?</strong></p>
        <ul>
            <li>Opnå viden om hvordan man practisere seperation of concerns og bedre arkitektur i React Native applikationer</li>
            <li>Opnå viden omkring brugen af et API i React Native</li>
        </ul>
        <p><strong>Hvilke læringsaktiviteter planlægger jeg for at opnå denne læring?</strong></p>
        <ol>
            <li>Læse documentation fra Firebase og React Native</li>
            <li>Gennemgå couses på sider som: Pluralsight, Lynda og Youtube</li>
            <li>ERFA-møder</li>
        </ol>
    </div>
</div>
</body>

