
@{
    ViewData["Title"] = "Plan";
}
<head>
    <meta charset="UTF-8" />
    <link rel="Stylesheet" type="text/css" href="/lib/bootstrap/dist/css/bootstrap.css">
</head>
<body class="Plan-Body">
<div class="Plan-Intro">
    <h1>Læringsplan & Fagområder</h1>
    <p>Oversigt over ECTS point fordeling, læringsplan og fagområder</p>
</div>
<div class="Plan-Text">
    <h2>ECTS point fordeling</h2>
    <ol>
        <li>Appudvikling(React Native) - 18ECTS</li>
        <li>Geotagging - 2ECTS</li>
        <li>Projektstyring - 2ECTS</li>
        <li>Sikkerhed - 2ECTS</li>
        <li>Azure notifikationer/apps - 2ECTS</li>
    </ol>
    <br />
    <h2>Læringsmål</h2>
    <h3>Viden: Jeg vil gerne kunne beskrive, forklare, illustrere, identificere</h3>
    <ol>
        <li>Jeg vil gerne kunne beskrive og forklare GDPR, og hvorfor det er vigtigt for vores app at tage højde for GDPR</li>
        <li>Jeg vil gerne samle viden om React Native og appudvikling</li>
        <li>Jeg vil kunne beskrive geotagging og forklare hvodan det kan bruges i vores app</li>
        <li>Jeg vil anskaffe viden om azure og dets nyttige app funtionaliteter</li>
    </ol>
    <br />
    <h3>Færdigheder: Jeg vil gerne kunne anvende, afprøve, analysere, sammenligne</h3>
    <ol>
        <li>Jeg vil kunne gøre brug af GDPR, således at den udviklede app overholder GDPR-lovgivningen.</li>
        <li>Jeg vil kunne anvende React Native til at imødekomme og udvikle de funtionaliteter vores PO ønsker</li>
        <li>Jeg vil kunne anvende geotagging funktionalitet i vores app.</li>
        <li>Jeg vil afprøve Azures push notifikation funktionalitet til vores app.</li>
    </ol>
    <br />
    <h3>Kompetencer: Jeg vil gerne kunne kombinere, ændre, diskutere, kontrollere</h3>
    <ol>
        <li>Jeg vil skabe kompetencer inden for appudvikling i en sådan grad at jeg kan perspektivere og diskutere emnet.</li>
        <li>Jeg vil kunne diskutere geotagging og dets relevans i vores app.</li>
    </ol>

    <h2>Læringsplaner:</h2>
    <div class="Plan-Learningplans">
        <p><strong>1.Sprint - Hvad vil jeg gerne opnå viden om i denne sprint?</strong></p>
        <ul>
            <li>Blive mere bekendt med Javascript og React, for at styrke mine forudsætninger for at kode appen i React Native</li>
            <li>Få viden til at sætte appen op med en Firebase database</li>
        </ul>
        <p><strong>Hvilke læringsaktiviteter planlægger jeg for at opnå denne læring?</strong></p>
        <ol>
            <li>Gennemgå couses på sider som: Pluralsight, Lynda og Youtube</li>
            <li>ERFA-møder</li>
            <li>Lægge ud med tests/tutorial applikationer</li>
        </ol>
    </div>
</div>
</body>

